nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 3rem;
  border: 1px solid #00000027;
}

.logo_container {
  font-size: 24px;
}

.profile_container a .nav_icon {
  font-size: 35px;
}

.nav_container input {
  width: 500px;
  padding: 9px 25px;
  border: none;
  outline: none;
  border: 1px solid #00000027;
}

.nav_container input:focus {
  box-shadow: none;
  border: 2px solid #00000062;
}
