:root {
  /* FontFamily */
  --inter: "Inter", sans-serif;
  --inconsolata: "Inconsolata", monospace;
  /* Colors */
  --text_color: #191919;
  --cat_bg: #e73c17;
  --alert: #e23000;
  --input_border: #f0f0f0;
  --footer_bg: #2f333a;
  --footer_bg_faded: #2f333a99;
}

.homepage {
  margin-top: 18rem;
  padding: 18px 2rem;
  overflow-x: hidden;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  row-gap: 4rem;
}

.loading_text {
  margin-top: 18rem;
  animation: loading 2s linear infinite;
  color: var(--cat_bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 800;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 5px;
}

.no_results {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
}

.category_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.category_buttons > .search-container input {
  /* background-color: transparent; */
  width: 300px;
  padding: 10px;
  font-family: inherit;
  font-size: 13px;
  border: 1px solid var(--footer_bg_faded);
  border-radius: 4px;
}

.category_buttons > .search-container input:focus {
  border: none;
  outline: 0.5px solid var(--cat_bg);
}

.category_buttons > .cat_btns > button {
  background-color: transparent; /* or remove this line */
  padding: 10px;
  font-family: inherit;
  font-size: 13px;
  border: 1px solid var(--footer_bg_faded);
  border-radius: 4px;
}

.pagination > button {
  background-color: none;
  padding: 10px;
  font-family: inherit;
  font-size: 13px;
  border: 1px solid var(--footer_bg_faded);
  border-radius: 4px;
}

.cat_btns > button {
  cursor: pointer;
}

button.active {
  background-color: var(--cat_bg);
  color: #fff;
}

span.ellipsis {
  margin: 0 5px; /* adjust as needed */
}

@media (max-width: 600px) {
  .homepage {
    padding: 25px;
    margin-top: 10rem;
  }
  .product_list {
    /* padding: 25px; */
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    width: 85vw;
    margin: auto;
    margin-top: 5rem;
  }
  .product_card {
    width: 100%;
  }

  .pagination {
    height: max-content;
    width: 100%;
    justify-content: center;
    gap: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .pagination > button {
    background-color: none;
    padding: 6.5px;
    font-family: inherit;
    font-size: 13px;
    border: 1px solid var(--footer_bg_faded);
    border-radius: 4px;
  }
  .category_buttons {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0;
  }
  .category_buttons > input {
    margin-left: 0rem;
    margin-top: 2rem;
    padding: 10px;
    font-size: 13px;
    width: 250px;
  }
  .cat_btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .category_buttons > .search-container input {
    margin-top: 25px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .homepage {
    margin-top: 12rem;
  }
  .product_list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .category_buttons {
    gap: 5px;
  }
  .category_buttons > input {
    margin-left: 0rem;
    margin-top: 2rem;
    padding: 10px;
    font-size: 13px;
    width: 80%;
  }
  .category_buttons > .search-container input {
    margin-top: 25px;
  }
  .cat_btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media (min-width: 901px) {
}
