.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  margin-top: calc(2rem + 75px);
}

.card {
  position: relative;
  border: 2px solid #ededed;
  padding: 25px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Add a smooth transition for hover effect */
}

.card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

.card-img {
  width: 16rem;
  height: 10rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-img:hover .overlay {
  opacity: 1;
}

.overlay-text {
  z-index: 2;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
}

.rating-star {
  color: #d5ab55;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #535353;
}
