:root {
  /* FontFamily */
  --inter: "Inter", sans-serif;
  --inconsolata: "Inconsolata", monospace;
  /* Colors */
  --text_color: #191919;
  --cat_bg: #e73c17;
  --alert: #e23000;
  --input_border: #f0f0f0;
  --footer_bg: #2f333a;
}

.cart_items {
  display: flex;
  column-gap: 1rem;
  width: 100%;
  font-weight: 300;
  padding: 0.5rem 0;
  border-bottom-width: 1px;
  border-color: rgb(229 231 235);
}

.cart_item {
  padding: 0.8rem;
  color: white;
  font-weight: 500;
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.cart_item_img {
  max-width: 80px;
}

.title_remove_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.close_btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  font-weight: bold;
  background-color: var(--footer_bg);
  border-radius: 999px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.title_remove {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.cart_item_title {
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.title_remove_container .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.title_link {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
  max-width: 240px;
  color: rgb(34 34 34);
}

.title_link:hover {
  text-decoration-line: underline;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-property: all;
}

.remove_items {
  font-size: 1.25rem;
  line-height: 1.75rem;
  cursor: pointer;
}

.close_icon:hover {
  color: rgba(239, 68, 68, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  transition-property: all;
}

.quantity_container {
  height: 36px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  column-gap: 0.5rem;
  display: flex;
  margin-top: 15px;
}

.quantity_container_remove_add {
  display: flex;
  flex: 1 1 0%;
  max-width: 100px;
  align-items: center;
  height: 100%;
  border-width: 1px;
  color: rgb(34 34 34);
  font-weight: 500;
}

.minus {
  flex: 1 1 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.amount {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.plus {
  flex: 1 1 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.price {
  flex: 1 1 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.final_price {
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(34 34 34);
  font-weight: 500;
}

.remove,
.add {
  background-color: black;
  color: white;
  padding: 10px;
}

@media (min-width: 1024px) {
  .cart_item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 600px) {
  .cart_item_img {
    display: none;
  }
  .close_btn {
    left: 0;
  }
}
